<div class="box1">
  <div style="background-image: url(<%= asset_path('test5.jpeg') %>)"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class ="Roosevelt">
        <br>
          <p>Do what you feel in your heart to be right – for you’ll be criticized anyway.</p>
          <br>
          <p>Anna Eleanor Roosevelt</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Muhammad">
        <br>
          <p>Don’t count the days. Make the days count.</p>
          <br>
          <p>Muhammad Ali</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Goethe">
        <br>
          <p>He who moves not forward, goes backward.</p>
          <br>
          <p>Johann Wolfgang von Goethe</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="tezuka">
        <br>
          <p>数えきれないほど、悔しい思いをしてきたけれどその度にお袋の「我慢しなさい」って言葉を思い浮かべて、なんとか笑ってきたんです。</p>
          <br>
          <p>手塚治虫</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="matsusita">
        <br>
          <p>どんなに悔いても過去は変わらない。どれほど心配したところで未来もどうなるものでもない。いま、現在に最善を尽くすことである。</p>
          <br>
          <p>松下幸之助</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Bill">
        <br>
          <p>Life is not fair; get used to it.</p>
          <br>
          <p>William Henry Bill Gates III</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Plato">
        <br>
          <p>Be kind, for everyone you meet is fighting a harder battle.</p>
          <br>
          <p>Plato</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Oscar">
        <br>
          <p>善人はこの世で多くの害をなす。彼らがなす最大の害は、人びとを善人と悪人に分けてしまうことだ。</p>
          <br>
          <p>Oscar Fingal O'Flahertie Wills Wilde</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Jordan">
        <br>
          <p>Everybody has talent, but ability takes hard work.</p>
          <br>
          <p>Michael Jordan</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Jobs">
        <br>
          <p>最も重要な決定とは、何をするかではなく、何をしないかを決めることだ。</p>
          <br>
          <p>Steven Paul Jobs</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Napoleon">
        <br>
          <p>Victory belongs to the most persevering.</p>
          <br>
          <p>Napoleon</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Jung">
        <br>
          <p>I am not what happened to me, I am what I choose to become.</p>
          <br>
          <p>Carl Gustav Jung</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Wright">
        <br>
          <p>いま正しい事も、数年後間違っていることもある。逆にいま間違っていることも、数年後正しいこともある。</p>
          <br>
          <p>Wright Brothers</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Bill">
        <br>
          <p>Life is not fair; get used to it.</p>
          <br>
          <p>William Henry Bill Gates III</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Socrates">
        <br>
          <p>Be kind, for everyone you meet is fighting a harder battle.</p>
          <br>
          <p>Socrates</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Goethe">
        <br>
          <p>Behavior is the mirror in which everyone shows their image.</p>
          <br>
          <p>Johann Wolfgang von Goethe</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="saito">
        <br>
          <p>自分で自分をあきらめなければ、人生に「負け」はない。</p>
          <br>
          <p>斎藤茂太</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Socrates">
        <br>
          <p>To do is to be.</p>
          <br>
          <p>Socrates</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Alexander">
        <br>
          <p>BIn the end, when it’s over, all that matters is what you’ve done.</p>
          <br>
          <p>Alexander the Great</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="Dante">
        <br>
          <p>The secret of getting things done is to act!</p>
          <br>
          <p>Dante Alighieri</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class ="John">
        <br>
          <p>ぼくが5歳の時、母はこう言っていた。「幸せこそ人生に必要なこと」。学校へ行くと、将来の夢を尋ねられる。ぼくは「Happy」と書いた。みんなはちゃんと質問の意味を理解しろという。だから、彼らに教えてあげたんだ。「君たちは人生をわかってない」</p>
          <br>
          <p>ジョン・レノン</p>
        </div>
      </div>
    </div>
  </div>
</div>