<div class="front">
  <div class="skip">
    <div class="theTarget">
        <div style="background-image: url(<%= asset_path('test1.jpeg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test2.jpeg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test3.jpeg') %>)"></div>
        <div style="background-image: url(<%= asset_path('test4.jpeg') %>)"></div>
    </div>
  </div>